[Unit]
Description=Telegram Referral Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/referral_bot
ExecStartPre=/bin/chmod 755 /root/referral_bot
ExecStart=/usr/bin/python3 /root/referral_bot/referral_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
